@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;800&display=swap");

body {
  font-family: "Outfit", sans-serif;
}
#root {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-wrap: normal;
}
* {
  font-family: "Outfit", sans-serif;
}
.cardHover {
  transition: transform 0.3s ease-in-out;
}

.cardHover:hover {
  transform: scale(1.1); /* Increase scale on hover */
}

/* Optionally, you can add additional styling to make the hover effect more noticeable */
.cardContainer {
  overflow: hidden;
}
.loader {
    width: 68px;
    height: 68px;
    border: 10px solid #353535;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 